.container{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
}

.pro{
    text-decoration: none;
}

.pro:hover{
    text-decoration: underline;
}

.hero-card{
    display: flex;
    background-color: #FDE5EC;
    /* flex-basis: 90%; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Borel', cursive;
    color: #B08F98;
    width: 100%;
}

.hero-name{
    font-size: 3rem;
    text-shadow: 2px 2px white;
}

.hero-para {
    font-size: 1em;
    text-shadow: 2px 2px white;
}

.planet{
    align-self: flex-start;
    margin-left: 100px;
}

.rocket{
    align-self: flex-end;
    margin-right: 100px;
}

.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #C797BC; */
    gap: 20px;
    color: black;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    /* text-shadow: 2px 2px white; */
    /* position: relative; */
}

.profile-image{
    height: 250px;
    width: 300px;
    /* padding-top: 100px; */
}

.frame{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.profile{
    width: 90%;
    height: 90%;
    position: relative;
    top: -240px;
    left: 5%;
    border-radius: 30px;
    opacity: 0.9;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.organization{
    font-weight: 100;
}

hr {
    width: 4%;
    /* border-radius: 50%; */
    border: dotted 6px #FDE5EC;
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.experience-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* grid-template: 1fr 1fr 1fr / 300px 400px 1fr; */
    text-align: left;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}

ul{
    list-style: none;
    /* width: 100%; */
}

ul *{
    text-align: left;
}

p {
    font-weight: 100;
}

footer{
    background-color: #FDE5EC;
    /* height: 100px; */
    font-family: 'Lobster', cursive;
    width: 100%;
    text-align: center;
}

@media (max-width: 800px) {
    .hero-name{
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .planet{
        align-self: center;
        margin: 0;
    }

    .rocket{
        align-self: center;
        margin: 0;
    }
}